# WQD7003 Data Analytics Group Project
## Loan Default Prediction
### Kaggle Dataset - https://www.kaggle.com/c/loan-default-prediction/overview

#### Import packages
- os     - operating system functionality
- pandas - manipulating data structures

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib as plt

#### Identify current working directory and dataset path
- Train and Test dataset provided.
- An example of sample submission also provided. 
- All dataset in CSV file format.

In [2]:
cwd = os.getcwd()
print(cwd)

C:\GitCloneDir\wqd7003_project\project_wqd7003_git

In [3]:
train_path = "C:\\GitCloneDir\\wqd7003_project\\data\\train_v2.csv"
test_path = "C:\\GitCloneDir\\wqd7003_project\\data\\test_v2.csv"

#### Load training data into Pandas dataframe
Note: to get hints to help with code completion, press "Tab" or "Shift + Tab"
1. We start by exploring the data.

In [4]:
# Have a look at training file size
file_size = int(os.path.getsize(train_path)/1024)  

if file_size > 99999:
    final_size = str(file_size/1000) + " MB"
else:
    final_size = str(file_size) + " KB"

print(final_size)

498.987 MB

In [5]:
df_train = pd.read_csv(train_path)

C:\Users\nxa07630\AppData\Local\Continuum\anaconda2\envs\ctai\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (135,204,274,417) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
# Number of rows and columns
print(str(len(df_train)) + " rows")
print(str(len(df_train.columns)) + " columns")

105471 rows
771 columns

In [7]:
# Number of rows, columns, & other info
df_train.info

<bound method DataFrame.info of             id   f1  f2        f3    f4  f5     f6      f7      f8      f9  \
0            1  126  10  0.686842  1100   3  13699  7201.0  4949.0  126.75
1            2  121  10  0.782776  1100   3  84645   240.0  1625.0  123.52
2            3  126  10  0.500080  1100   3  83607  1800.0  1527.0  127.76
3            4  134  10  0.439874  1100   3  82642  7542.0  1730.0  132.94
4            5  109   9  0.502749  2900   4  79124    89.0   491.0  122.72
...        ...  ...  ..       ...   ...  ..    ...     ...     ...     ...
105466  105467  126   8  0.006620  2200   4  76831   331.0  2366.0  125.25
105467  105468  137   9  0.358568  2200   4   9836  3898.0  1106.0  135.88
105468  105469  129   9  0.241858  2200   4    627  7081.0  6577.0  128.44
105469  105470  129   9  0.569719  2200   4  14629  4984.0  2101.0  127.25
105470  105471  129   9  0.407707  2200   4    627  8173.0  6578.0  128.66

        ...  f770  f771  f772  f773    f774    f775  f776  f777  f778  loss
0       ...     5  2.14 -1.54  1.18  0.1833  0.7873     1     0     5     0
1       ...     6  0.54 -0.24  0.13  0.1926 -0.6787     1     0     5     0
2       ...    13  2.89 -1.73  1.04  0.2521  0.7258     1     0     5     0
3       ...     4  1.29 -0.89  0.66  0.2498  0.7119     1     0     5     0
4       ...    26  6.11 -3.82  2.51  0.2282 -0.5399     0     0     5     0
...     ...   ...   ...   ...   ...     ...     ...   ...   ...   ...   ...
105466  ...     3  1.07 -0.92  0.82  0.3809 -0.5489     0     0    93     0
105467  ...     3  0.33 -0.18  0.10  0.2357 -0.8627     1     0    93     0
105468  ...     4  1.18 -0.70  0.44  0.1649  1.0901     1     0    93     0
105469  ...     2  0.01  0.00  0.00  0.0583  1.3355     1     0    93     0
105470  ...     5  0.35 -0.13  0.04  0.1308 -0.9687     1     0    93     0

[105471 rows x 771 columns]>

In [8]:
# Take a quick look at the data
df_train.describe()

,id,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f770,f771,f772,f773,f774,f775,f776,f777,f778,loss
count,105471.000000,105471.000000,105471.000000,105471.000000,105471.000000,105471.000000,105471.000000,105289.000000,105370.000000,105471.000000,...,105471.000000,105471.000000,105471.000000,105471.000000,104407.000000,103946.000000,105471.000000,105471.000000,105471.000000,105471.000000
mean,52736.000000,134.603171,8.246883,0.499066,2678.488874,7.354533,47993.704317,2974.336018,2436.363718,134.555225,...,17.422543,5.800976,-4.246788,3.273059,0.233852,0.014797,0.310246,0.322847,175.951589,0.799585
std,30446.999458,14.725467,1.691535,0.288752,1401.010943,5.151112,35677.136048,2546.551085,2262.950221,13.824682,...,18.548936,6.508555,4.828265,3.766746,0.073578,1.039439,0.462597,0.467567,298.294043,4.321120
min,1.000000,103.000000,1.000000,0.000006,1100.000000,1.000000,0.000000,1.000000,1.000000,106.820000,...,2.000000,0.000000,-43.160000,0.000000,0.000000,-18.439600,0.000000,0.000000,2.000000,0.000000
25%,26368.500000,124.000000,8.000000,0.248950,1500.000000,4.000000,11255.000000,629.000000,746.000000,124.290000,...,5.000000,1.480000,-5.700000,0.740000,0.198400,-0.704275,0.000000,0.000000,19.000000,0.000000
50%,52736.000000,129.000000,9.000000,0.498267,2200.000000,4.000000,76530.000000,2292.000000,1786.000000,128.460000,...,11.000000,3.570000,-2.600000,1.990000,0.251800,0.375400,0.000000,0.000000,40.000000,0.000000
75%,79103.500000,148.000000,9.000000,0.749494,3700.000000,10.000000,80135.000000,4679.000000,3411.000000,149.080000,...,23.000000,7.700000,-1.010000,4.440000,0.283600,0.737100,1.000000,1.000000,104.000000,0.000000
max,105471.000000,176.000000,11.000000,0.999994,7900.000000,17.000000,88565.000000,9968.000000,11541.000000,172.950000,...,168.000000,58.120000,0.000000,34.040000,0.473700,11.092000,1.000000,1.000000,1212.000000,100.000000

In [9]:
# Data types int64, float64, object
col_names = df_train.columns.values

# Get  columns whose data type is object i.e. string, int64, float64
filtColObj = df_train.dtypes[df_train.dtypes == np.object]
filtColInt = df_train.dtypes[df_train.dtypes == np.int64]
filtColFlt = df_train.dtypes[df_train.dtypes == np.float64]
 
# list of columns whose data type is object i.e. string, int64, float64
listColNamesObj = list(filtColObj.index)
listColNamesInt = list(filtColInt.index)
listColNamesFlt = list(filtColFlt.index)
 
print(str(len(listColNamesObj)) + " Objects")
print(str(len(listColNamesInt)) + " Int64")
print(str(len(listColNamesFlt)) + " Float64")

19 Objects
99 Int64
653 Float64

In [10]:
df_train.isnull().mean()

id      0.000000
f1      0.000000
f2      0.000000
f3      0.000000
f4      0.000000
          ...
f775    0.014459
f776    0.000000
f777    0.000000
f778    0.000000
loss    0.000000
Length: 771, dtype: float64